@use '../../node_modules/@tweakpane/core/lib/sass/tp';

.#{tp.$prefix}-stepv {
	@extend %tp-input;
	display: flex;
	gap: tp.cssVar('container-h-padding');

	&.#{tp.$prefix}-v-disabled {
		opacity: 0.5;
	}

	&_b {
		@extend %tp-button;
		position: relative;
		width: tp.cssVar('container-unit-size');
	}

	&_i {
		@extend %tp-input;
		width: auto;
	}
}
