// Import core styles
@use '../../node_modules/@tweakpane/core/lib/sass/tp';

// Additional style for the plugin
.#{tp.$prefix}-stepv {
	// Extend a general input view style
	@extend %tp-input;
	display: flex;
	gap: tp.cssVar('container-h-padding');

	&.#{tp.$prefix}-v-disabled {
		opacity: 0.5;
	}

	&_b {
		@extend %tp-button;

		position: relative;
		width: tp.cssVar('container-unit-size');
	}

	&_i {
		@extend %tp-input;
		width: auto;
	}

}
